<section id="sidebar" class="sidebar"> 
    <svg id="sidebar-fader"></svg>
    <div class="sidebar-header">
        {% if site.image %}
            <div class="sidebar-image-container">
                <img class="sidebar-image" src="{{ site.image }}?{{ site.time | date: '%s%N' }}" />
            </div>
        {% endif %}
        <div class="sidebar-text">
            <h1><a href="{{ site.url }}" class="fade-onclick">{{ site.title }}</a></h1>
            {% if site.sidebar_main_text %}
                <h6>{{ site.sidebar_main_text }}</h6>
            {% endif %}       
            {% if site.tagline %}
                <div class="sidebar-tagline">
                    {{ site.tagline }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar-links">
            {%- for social in site.data.socials -%}
                <a href="{{ social.url }}" target="_blank"><img class="social-image" alt="{{ social.title }}" src="{{ social.image }}?{{ site.time | date: '%s%N' }}"/></a>
            {%- endfor -%}   
    </div>
    <div class="sidebar-navigation">
        {% assign urlPart = page.url | downcase | split: '/' %}
        <ul>
            {% for navigation in site.data.navigation %}
            {% assign navPart = navigation.url | downcase | split: '/' %}
            <li {% if navPart[1] == urlPart[1] %}class="active"{% endif %}>
                {% if navigation.submenu != null %}
                <a class="submenu-icon" > {{ navigation.title }} </a>
                <ul class="submenu">
                    {% for submenu in navigation.submenu %}
                    <li>
                        <a href="{{ submenu.url }}" > {{ submenu.title }} </a> 
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <a href="{{ navigation.url }}" > {{ navigation.title }} </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="sidebar-navigation-button" onclick="OpenCloseMobileNav()">
        <a id="mobileSideNavButton" class="mobileNavIcon" ></a>
    </div>
    <div id="mobileSideNav" class="mobile-sidebar-navigation">
        {% assign urlPart = page.url | downcase | split: '/' %}
        <ul>
            {% for navigation in site.data.navigation %}
            {% assign navPart = navigation.url | downcase | split: '/' %}
            <li {% if navPart[1] == urlPart[1] %}class="active"{% endif %}>               
                {% if navigation.submenu != null %}
                <a class="mobileSideNav-Accordion submenu-icon" > {{ navigation.title }} </a>
                <ul class="submenu">
                    {% for submenu in navigation.submenu %}
                    <li>
                        <a href="{{ submenu.url }}" > {{ submenu.title }} </a> 
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <a href="{{ navigation.url }}" > {{ navigation.title }} </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="mobile-sidebar-links">
            {%- for social in site.data.socials -%}
                <a href="{{ social.url }}" target="_blank"><img class="social-image" alt="{{ social.title }}" src="{{ social.image }}?{{ site.time | date: '%s%N' }}"/></a>
            {%- endfor -%}   
        </div>
    </div>
</section>