<section id="sidebar" class="sidebar"> 
    <svg id="sidebar-fader"></svg>
    <div class="sidebar-header">
        {% if site.image %}
            <div class="sidebar-image-container">
                <img class="sidebar-image" src="{{ site.image }}" />
            </div>
        {% endif %}
        <div class="sidebar-text">
            <h1><a href="{{ "/projects/" }}" class="fade-onclick">{{ site.title }}</a></h1>
            <h6>{{ site.description }}</h6>
            {% if site.tagline %}
                <div class="sidebar-tagline">
                    {{ site.tagline }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar-links">
            {% for social in site.data.socials %}
                <a href="{{ social.url }}"><img class="social-image" alt="{{ social.title }}" src="{{ social.image }}"/></a>
            {% endfor %}   
    </div>
</section>