// colors

$primary-highlight: #8f3aff;
$secondary-highlight: #47d163;
$tertiary-highlight: #ff8f3a;


$sidebar-color: #222833;
$hover-color: #222833;

$text-color: #e7e7e8;  
$secondary-text-color: #d0d0d2;
$background-color: #141520;

$table-background-color: #222833;

// Sizes

$sidebar-width: 300px;
$sidebar-height-min: 150px;
$sidebar-height: 200px;
$social-link-width: 32px;

// Syntax highlighting colors
// Base 16 theme
// Scheme: "Snazzy"
// Author: "Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)"
$base00: #282a36;
$base01: #34353e; //Unused
$base02: #43454f;
$base03: #78787e;
$base04: #a5a5a9; //Unused
$base05: #e2e4e5;
$base06: #eff0eb; //Unused
$base07: #f1f1f0; //Unused
$base08: #ff5c57;
$base09: #ff9f43;
$base0A: #f3f99d;
$base0B: #5af78e;
$base0C: #9aedfe;
$base0D: #57c7ff;
$base0E: #ff6ac1;
$base0F: #b2643c; //Unused

// Scheme: "Tomorrow Night"
// Author: "Chris Kempson (http://chriskempson.com)"
// $base00: #292a44;
// $base01: #663399; //Unused
// $base02: #383a62;
// $base03: #666699;
// $base04: #a0a0c5; //Unused
// $base05: #f1eff8;
// $base06: #53495d; //Unused
// $base07: #f1f1f0; //Unused
// $base08: #a0a0c5;
// $base09: #efe4a1;
// $base0A: #ae81ff;
// $base0B: #6dfedf;
// $base0C: #8eaee0;
// $base0D: #2de0a7;
// $base0E: #7aa5ff;
// $base0F: #ff79c6; //Unused


// $base00: #000000; 
// $base01: #1d2b53; //Unused
// $base02: #7e2553; 
// $base03: #008751; 
// $base04: #ab5236; //Unused
// $base05: #5f574f; 
// $base06: #c2c3c7; //Unused
// $base07: #fff1e8; //Unused
// $base08: #ff004d; 
// $base09: #ffa300; 
// $base0A: #fff024; 
// $base0B: #00e756; 
// $base0C: #29adff; 
// $base0D: #83769c; 
// $base0E: #ff77a8; 
// $base0F: #ffccaa; //Unused