.list-gallery {
    margin-bottom: 2em;
    width: 100%;
}

.list-piece-link {
    margin: 2em 1em 0 1em;
    display: block;
    width: auto;
    height: auto;
}

.list-piece-link:hover {
    background-color: $hover-color;
    opacity: 0.8;
    border-radius: 5px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}

.list-piece-image {
    width: 100%;
    border-radius: 5px;
}

.list-piece-info {
    margin: 0 0.4em;
}

.list-piece-title {
    color: $text-color;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    a {
        color: $primary-highlight;
        &:hover {
            color: $primary-highlight;
        }
    }
}

.list-piece-description {
    color: $secondary-text-color;
    margin: 0.4em 0;
    font-size: 1rem;
}

.list-piece-footer {
    margin: 0 1.4em;
}

.list-piece-date {
    color: $secondary-highlight;
    font-weight: bold;
    font-size: 0.9rem;
}

.list-piece-tags {
    font-weight: bold;
    font-size: 0.9rem;
    color: $tertiary-highlight;
}