---
layout: default
---

<section class="content">
  <svg id="content-fader"></svg>
  <div class="list-gallery">
    {% for art in site.data.gallery %}
    {% if art.categories contains page.category %}
    <div class="list-post">
      <a href="{{ post.url }}" class="fade-onclick">
        <div class="list-post-link">
          {% if post.images.cover %}
            <img class="list-post-image" src="{{ post.images.cover }}" />
          {% endif %}
          <div class="list-post-info">
            <div class="list-post-title">{{ post.title }}</div>
            <div class="list-post-description">{{ post.description }}</div>
          </div>
        </div>
      </a>
      <div class="list-post-footer">
        <span class="list-post-date">{{ post.date | date_to_string}}</span>
        &middot;
        <span class="list-post-tags">{{ post.tags | join: ", "}}</span>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %} 
  </div>
  {% include footer.html %}
</section>
<script src="/assets/js/gallery-grid-init.js"></script>