---
layout: default
---

<section class="content">
  <svg id="content-fader"></svg>
  <div class="list-gallery">
    {% assign gallery = site.data.gallery | sort: 'date' | reverse %} 
    {% for art in gallery %}
    {% if art.category contains page.category %}
    <div class="list-piece">
      <div class="list-piece-link clickable-image">
        <a href="{{ art.image }}" data-title="{{ art.title }}" data-description="{{ art.description }}" data-linkurl="{{ art.linkurl }}" data-linktext="{{ art.linktext }}" style="max-width: 500px">
          <img class="list-piece-image" src="{{ art.image }}" alt="{{ art.title }}" data-echo="{{ art.image }}" />
        </a>
      </div>
    </div>
    {% endif %}
    {% endfor %} 
  </div>
  {% include footer.html %}
</section>
<script src="/assets/js/gallery-grid-init.js?{{ site.time | date: '%s%N' }}"></script>