---
layout: default
---

<section class="content">
  <svg id="content-fader"></svg>
  <div class="list-gallery">
    {% for art in site.data.gallery %}
    {% if art.category contains page.category %}
    <div class="list-piece">
      <a href="{{ art.url }}" class="fade-onclick">
        <div class="list-piece-link">
            <img class="list-piece-image" src="{{ art.image }}" />
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %} 
  </div>
  {% include footer.html %}
</section>
<script src="/assets/js/gallery-grid-init.js"></script>